pandas==2.2.3
xlsxwriter==3.2.3
lxml==5.4.0
html5lib==1.1
jpype1==1.5.2
aspose-cells==25.4.0
openpyxl==3.1.5
numpy==2.2.5
sqlalchemy==2.0.40
pywin32==310
beautifulsoup4==4.13.4
Pillow==9.5.0
tqdm==4.67.1