pandas==2.3.3
xlsxwriter==3.2.3
lxml==6.0.2
html5lib==1.1
jpype1==1.5.2
aspose-cells==25.4.0
openpyxl==3.2.0b1
numpy==2.3.4
sqlalchemy==2.0.44
pywin32==311
beautifulsoup4==4.14.2
Pillow==12.0.0
tqdm==4.67.1
